@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /*--font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  @apply px-3 py-1.5 rounded bg-gray-100 hover:bg-gray-200;
}
.btn-blue {
  @apply bg-blue-500 text-white hover:bg-blue-600;
}
.btn-green {
  @apply bg-green-500 text-white hover:bg-green-600;
}
.btn-cancel {
  @apply bg-gray-300 text-black hover:bg-gray-400;
}
.input {
  @apply border px-2 py-1 rounded w-full;
}
